*{
    font-family: fantasy , sans-serif;
}
body{
    margin: 0;
}

.informacion{
   width: 100%;
   text-align: center;
   height: 50vh;
   Background: rgb(219, 219, 219)

}
.informacion h1{
    font-size: 50px;
    text-align: center;
    color: blue;
    margin: 0px;
}

.informacion img{
    width: 200px;
    margin: auto;
    /* modificando elementos en linea a bloque */
    display: block;
    border-radius: 50%;
}

.informacion h2{
    text-align: center;
    color: blue;
    background-color: #fff;
   width: 200px;
    margin: auto;
}

.informacion ul{
    width: 100%;
    text-align: center;
}

.informacion ul li{
    display: inline-block;
    width: 150px;
    background-color: blue;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    color: #fff;
}

.skills{
background: blue;
height: 50vh;
}

.skills h3{
    margin: 0;
    text-align: center;
    color: #fff;
letter-spacing: 5px;
}

.skills ul{
width: 500px;
margin: auto;
}

.skills ul li{
list-style: none;
margin: auto;
padding: 15px;
font-size: 20px;
font-style: normal;
display: inline block;
}

.skills ul li img{
width: 50px;
display: block;
margin: auto;
}

